<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>

    <header>
          <div class="logo-empresa">
            <img src="../asset/images/IMPRENTA-COLORS.png" alt="logo de imprentaColors" width="50" height="50">
        </div>
        <nav class="nav-links">
            <a href="../index.html">Inicio</a>
            <a href="./productos.html">Productos</a>
            <a href="./presupuesto.html">Presupuesto</a>
            <a class="aqui" href="./contacto.html">Contacto</a>
        </nav>

    </header>

    <main>

        <section class="contenido">
            <div class="ubicacion">
                <img src="../asset/images/ubicacion.jpg" alt="mapa de ubicacion de la empresa" width="500" height="500">
                <a href="https://maps.app.goo.gl/en55xzyNB8khFsJk8">Link</a>
            </div>
            <div class="informacion">
                <h2>Direccion</h2>
                <p>Trujillo-Peru, Calle Jiron Bolivar 908</p>
                <h2>Telefono de contacto</h2>
                <p>912477562</p>
            </div>
            <div class="horario">
                <h2>Horarios</h2>
                <ul>
                    <li>Lunes: 10am a 7pm</li>
                    <li>Martes: 10am a 7pm</li>
                    <li>Miercoles: 10am a 7pm</li>
                    <li>Jueves: 10am a 7pm</li>
                    <li>Viernes: 10am a 7pm</li>
                    <li>Sabado: 10am a 1pm</li>
                </ul>
            </div>
        </section>


    </main>


  <footer>
           <div class="redes-sociales">
            <ul class="social-icon">
                <li class="icon-elem"><a class="icono" href="https://www.facebook.com/share/1B3SQH1TwC/" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a></li>
                <li class="icon-elem"><a class="icono" href="https://www.instagram.com/imprentacolors?igsh=d3V5bWxoMms3OXFy" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a></li>
                <li class="icon-elem"><a class="icono" href="https://www.tiktok.com/@colorsimprenta1?_r=1&_t=ZS-96zVpilllju" target="_blank"><ion-icon name="logo-tiktok"></ion-icon></a></li>
                <li class="icon-elem"><a class="icono" href=""><ion-icon name="logo-whatsapp"></ion-icon></a></li>
            </ul>
            <ul class="menu-footer">
                <li class="elemen-foo"><a class="menu-icon" href="../index.html">Inicio</a></li>
                <li class="elemen-foo"><a class="menu-icon" href="./productos.html">Productos</a></li>
                <li class="elemen-foo"><a class="menu-icon" href="./presupuesto.html">Presupuesto</a></li>
                <li class="elemen-foo"><a class="menu-icon" href="./contacto.html">Contacto</a></li>
            </ul>
        </div>
        <Div class="ubication">
            <p>Trujillo-Peru, Calle Jr Bolivar 908</p>
            <span>@Año 2026 | Todos los derechos reservados</span>
        </Div>
        
    </footer>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>