<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
     <header>
          <div class="logo-empresa">
            <img src="../asset/images/IMPRENTA-COLORS.png" alt="logo de imprentaColors" width="50" height="50">
        </div>
        <nav class="nav-links">
            <a href="../index.html">Inicio</a>
            <a class="aqui" href="./productos.html">Productos</a>
            <a href="./presupuesto.html">Presupuesto</a>
            <a href="./contacto.html">Contacto</a>
        </nav>

    </header>

    <main>

        <section class="paleta-productos">
            <div class="card-productos">
                <div class="card-producto">
                    <img src="../asset/images/IMG-20260602-WA0041.jpg" alt="Recuerdo en Trupan" width="300" height="300">
                    <h3>Recuerdo en Trupan</h3>
                    <p>Acrilicos en impresion UV.</p>
                </div>

                <div class="card-producto">
                    <img src="../asset/images/banner1.jpg" alt="banner de una empresa canina" width="300" height="300">
                    <h3>Banner</h3>
                    <p>Roll Screen 2x1 metros</p>
                </div>

                <div class="card-producto">
                    <img src="../asset/images/taz1.jpg" alt="tazas personalizadas" width="300" height="300">
                    <h3>Tazas</h3>
                    <p>Tazas 11 onzas personalizada</p>
                </div>

                <div class="card-producto">
                    <img src="../asset/images/termo1.jpg" alt="tomatodo personalizado" width="300" height="300">
                    <h3>Tomatodo</h3>
                    <p>Tomatodo 600ml personalizado</p>
                </div>

                <div class="card-producto">
                    <img src="../asset/images/reconocimiento2.jpg" alt="reconocimiendo de vidrio" width="300" height="300">
                    <h3>Reconocimiento</h3>
                    <p>Reconocimiento de Vidrio con caja</p>
                </div>

                <div class="card-producto">
                    <img src="../asset/images/carnet1.jpg" alt="fotockeck tipo pvc" width="300" height="300">
                    <h3>Fotocheck</h3>
                    <p>tipo pvc o pvc original con carcasas + tiras</p>
                </div>

                <div class="card-producto">
                    <img src="../asset/images/sellos2.jpg" alt="sellos de empresas" width="300" height="300">
                    <h3>Sellos</h3>
                    <p>Sellos personalizados</p>
                </div>

                <div class="card-producto">
                    <img src="../asset/images/chapas.jpg" alt="marbetes,pines y medallas de bronce" width="300" height="300">
                    <h3>Marbetes</h3>
                    <p>Marbetes,pines y medallas de bronce resinados</p>
                </div>

                <div class="card-producto">
                    <img src="../asset/images/forrocel1.jpg" alt="forro de celular" width="300" height="300">
                    <h3>Carcasa para celular</h3>
                    <p>Personalizado en DTF</p>
                </div>

                <div class="card-producto">
                    <img src="../asset/images/retrato1.jpg" alt="foto roca personalizada" width="300" height="300">
                    <h3>Foto Roca</h3>
                    <p>Foto roca personalizada de 20cmx20cm</p>
                </div>

                <div class="card-producto">
                    <img src="../asset/images/lapiz1.jpg" alt="boligrafos personalizados" width="300" height="300">
                    <h3>Lapiceros personalizados</h3>
                    <p>Lapiceros personalizados para empresa o profesional</p>
                </div>

                <div class="card-producto">
                    <img src="../asset/images/facturas1.jpg" alt="talonario de rifas personalizadas" width="300" height="300">
                    <h3>Rifas personalizadas</h3>
                    <p>Talonario de rifas personalizadas</p>
                </div>

                <div class="card-producto">
                    <img src="../asset/images/p2.jpg" alt="reconocimiento de vidrio" width="300" height="300">
                    <h3>Reconocimiento de Vidrio</h3>
                    <p>Varia de acuerdo al tamaño y la cantidad deseada</p>
                </div>

                <div class="card-producto">
                    <img src="../asset/images/p3.jpg" alt="menu de restaurante tipo carta en pvc" width="300" height="300">
                    <h3>Cartas de Menu</h3>
                    <p>Personalizadas en Pvc Dimensiones varias</p>
                </div>
            </div>
        </section>

    </main>

     <footer>
           <div class="redes-sociales">
            <ul class="social-icon">
                <li class="icon-elem"><a class="icono" href="https://www.facebook.com/share/1B3SQH1TwC/" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a></li>
                <li class="icon-elem"><a class="icono" href="https://www.instagram.com/imprentacolors?igsh=d3V5bWxoMms3OXFy" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a></li>
                <li class="icon-elem"><a class="icono" href="https://www.tiktok.com/@colorsimprenta1?_r=1&_t=ZS-96zVpilllju" target="_blank"><ion-icon name="logo-tiktok"></ion-icon></a></li>
                <li class="icon-elem"><a class="icono" href=""><ion-icon name="logo-whatsapp"></ion-icon></a></li>
            </ul>
            <ul class="menu-footer">
                <li class="elemen-foo"><a class="menu-icon" href="../index.html">Inicio</a></li>
                <li class="elemen-foo"><a class="menu-icon" href="./productos.html">Productos</a></li>
                <li class="elemen-foo"><a class="menu-icon" href="./presupuesto.html">Presupuesto</a></li>
                <li class="elemen-foo"><a class="menu-icon" href="./contacto.html">Contacto</a></li>
            </ul>
        </div>
        <Div class="ubication">
            <p>Trujillo-Peru, Calle Jiron Bolivar 908</p>
            <span>@Año 2026 | Todos los derechos reservados</span>
        </Div>
        
    </footer>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>